.tag {
    font-weight: bold;
    color: $color-white;
    background-color: $color-blue;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    display: flex;
    align-items: center;
    margin-right: 5px;
    text-transform: capitalize;
    &::after {
        content:"";
        display: inline-block;
        width: 20px;
        height: 20px;
        background: url("../images/close.svg") no-repeat;
        margin-left: 13px;
    }
}